<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
  <md-whiteframe class="md-whiteframe-5dp" flex="100" layout="column" layout-align="space-around stretch" layout-margin layout-padding>
    <div class="md-title">Add New Event</div>
    <form name='eventForm' ng-submit="save(newEvent, eventForm)" novalidate autocomplete="off" layout-padding>
      
      <div layout="column" layout-padding layout-margin>
        
        <div layout="row" layout-align="space-between center">
          <md-input-container class="md-icon-float md-block" flex>
              <label><i class="material-icons">event_note</i>Event name</label>
              <input name="title" ng-model="newEvent.title" type="text" ng-required="true">
              
              <div ng-messages="eventForm.name.$error" role="alert">
                <div ng-message="required" class="my-message">You must insert a name for your event</div>
              </div>
          </md-input-container>
          
          <md-datepicker ng-model="newEvent.date"
                         md-placeholder="Date"
                         md-min-date="AddEventCtrl.minDate" flex="20">
          </md-datepicker>
        </div>
        
        <md-input-container class="md-icon-float md-block" flex>
          <label><i class="material-icons">access_time</i> Time</label>
          <input name="time" ng-model="newEvent.time" type="time" step="1800" ng-required="true">
          
          <div ng-messages="eventForm.time.$error" role="alert">
            <div ng-message="time" class="my-message">You must insert a valid time format</div>
            <div ng-message="required" class="my-message">You must insert a time for your event</div>
          </div>
        </md-input-container>
        
        <md-input-container class="md-icon-float md-block" flex>
          <label><i class="material-icons">location_on</i> Location</label>
          <input name="location" ng-model="newEvent.location" type="text">
        </md-input-container>
        
        <md-input-container class="md-icon-float md-block" flex>
          <label><i class="material-icons">note_add</i> Notes</label>
          <textarea rows="5" name="time" ng-model="newEvent.notes"></textarea>
        </md-input-container>
        
        <md-button type="submit" class="md-button md-raised md-accent" ng-disabled="eventForm.$invalid" flex>Save</md-button>
        <md-button class="md-button md-raised md-secondary" ui-sref="home" flex>Go back</button>
      </div>
        
    </form>
  </md-whiteframe>
</div>